@page
@model SuperHero.Pages.Superhero.EditSuperheroModel



<p>Edit your favorite hero!</p>
@{
    foreach (var item in DummyData.DataStorage.ListOfHeroes)
    {
        if (item.Name == Model.Name)
        {

            <p>Name @item.Name</p>
            <p>Age @item.Age</p>
            <p>Weight @item.Weight</p>
            <p>Alias @item.Alias</p>
            <p>Type @item.TypeOfHero</p>
        }
    }
}


@*<p class="text-black-50">Alias: @Model.SuperheroAlias</p>*@
